# Server Configuration
PORT=5000

# Database Configuration (SQL Server)
DB_USER=tuo_utente
DB_PASSWORD=tua_password
DB_SERVER=localhost
DB_NAME=NomeDatabase
DB_PORT=1433

# Database Security Options
DB_ENCRYPT=true
DB_TRUST_CERT=true

# Environment
NODE_ENV=development